






{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="limiter">
  <div class="container-login100" style="background-image: url({% static 'images/bg-01.jpg' %})">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
      <form class="login100-form validate-form" method="POST">
        {% csrf_token %}
        <div class="txt1 text-center p-t-54 p-b-20">
        	<a href="#" class="login100-social-item bg3">
						<i class="fa fa-email"></i>
					</a>
        <span class="login100-form-title p-b-49">
Check Email        </span>
  <p style="color: green;">We've emailed you instructions at for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
  <p style="color: green;">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
   <p>You may now login again <a href="{% url 'signin' %}"> click here Signin</a></p>  
        
       
      </form>
    </div>
  </div>
</div>


<div id="dropDownSelect1"></div>
{% endblock %}