{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
 {% if validlink %}
       <div class="limiter">
  <div class="container-login100" style="background-image: url({% static 'images/bg-01.jpg' %})">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
      <form class="login100-form validate-form" method="POST">
        {% csrf_token %}
        <span class="login100-form-title p-b-49">
          Reset Password
        </span>

        
        <!-- <div class="wrap-input100 validate-input m-b-23" data-validate = "Email is reauired">
          <span class="label-input100"></span>
          -->
          {{ form|crispy }}
          <span class="focus-input100" data-symbol="&#xf206;"></span>
        </div>

  
        <div class="text-right p-t-8 p-b-31"></div>
        
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn">
              Setttt Password
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

  {% else %}

<div id="dropDownSelect1"></div>
<div class="limiter">
  <div class="container-login100" style="background-image: url({% static 'images/bg-01.jpg' %})">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
      <form class="login100-form validate-form" method="POST">
        {% csrf_token %}
        <span class="login100-form-title p-b-49">
          Forgottt Password
        </span>

     <p style="color: red;">Invalid token.</p>
      <p>
        <a href="{% url 'password_reset' %}">Request a new password reset token.</a>
      </p>
     
    </div>
  </div>
</div>
{% endif %}
  
{% endblock %}
