{% extends "django_sb_admin/base.html" %}{% load static %}{% block sb_admin_title %}Tables{% endblock sb_admin_title %}{% block sb_admin_subheading %}{% endblock sb_admin_subheading %}

 {% block sb_admin_breadcrumb_active %}
 <li class="breadcrumb-item active">New Registration</li>
 {% endblock sb_admin_breadcrumb_active %}
 {% block sb_admin_content %}  
  <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Data Table Example</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Sr</th>
                    <th>PRN</th>
                    <th>Year&Branch</th>
                    <th>gender</th>
                    <th>Std_Transition Id</th>
                    <th>Clg_Transition Id</th>
                    <th>View</th>
                    <th>Approve</th>
                    <th>Regect</th>
                    <th>Delete</th>
                    <!-- <th>user</th>
                    <th>user_name</th> -->
                    
                    
                    <!-- <th>year</th>
                    <th>branch</th> -->
                   
                    
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Sr</th>
                    <th>PRN</th>
                    <th>Year&Branch</th>
                    <th>gender</th>
                    <th>Std_Transition Id</th>
                    <th>Clg_Transition Id</th>
                    <th>View</th>
                    <th>Approve</th>
                    <th>Regect</th>
                    <th>Delete</th>
                   <!--  <th>user</th>
                    <th>user_name</th> -->
                    
<!--                     <th>phone</th>
 -->                
                    
                   <!--  <th>year</th>
                    <th>branch</th> -->
                   


                  </tr>
                </tfoot>
                <tbody>
                  {% for student in employees %}
                  <tr>
                   <!--  <td>{{ student.user}}</td>
                    <td>{{ student.user_name}}</td> -->
                         <td>{{ student.id}}</td>
                    <td>{{ student.prn}}</td>
                    <td>{{ student.year}}-{{ student.branch}}</td>
                    <td>{{ student.gender}}</td>
                    <td>{{ student.std_transion_id}}</td>
                    <td>{{ student.clg_transion_id}}</td>
                    <td>{{ student.age}}</td>
                   
                    <td>{{ student.birth_date}}</td>
                    <td>{{ student.birth_date}}</td>
                    <td>{{ student.birth_date}}</td>

                     <!-- <td>{{ student.year}}</td>
                    <td>{{ student.branch}}</td>
                    <td>{{ student.book_limit}}</td> -->
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

        <p class="small text-center text-muted my-5">
          <em>More table examples coming soon...</em>
        </p>

{% endblock sb_admin_content %}
