{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Head start-->


  {% block title %}

  {% endblock %}
<!-- Head End -->
{% include "django_sb_admin/main/head.html" %}
<!-- Body start -->
  {% block sb_admin_custom_css %}

  {% endblock sb_admin_custom_css %}


<body id="page-top">


<!--------------------- nav bar  ------------------------------------------>
  {% include "django_sb_admin/main/nav.html" %}

<!--------------------------Nav End  --------------------------------------->


<!-- ---------------------wrapper--------------------------------------- -->
<div id="wrapper">
  <!------------------------Left Sidebar------------------ -->
    {% include "django_sb_admin/main/side.html" %}

<!-- --------------------------------------------------------------- -->

  <div id="content-wrapper"><!-- content wrapper -->
    <div class="container-fluid"><!-- cfluid -->
 <!--  {# <div id="page-wrapper"> #}
  {# <div class="container-fluid"> #} -->
      <!-- Page Heading -->

      <!-- Breadcrumb -->
      <h4 style="text-align:right;">last login:</h4>
      <ol class="breadcrumb">
       <!--  <li class="breadcrumb-item">
          {% block sb_admin_breadcrumb %}<i class="fa fa-dashboard"></i>  <a href="{% url "sb_admin_start" %}"></a>{% endblock sb_admin_breadcrumb %}
        </li> -->

        {% block sb_admin_breadcrumb_active %}
        <!-- Here Active task display -->
        {% endblock sb_admin_breadcrumb_active %}
      </ol>


      {% block sb_admin_content %}
     
      {% endblock sb_admin_content %}
    </div><!-- cfluid -->
  </div><!-- content wrapper -->
  <!-------------------------------- Sticky Footer ---------------------------->
 
    {% include "django_sb_admin/main/footer.html" %}


{% block sb_admin_custom_js %}{% endblock sb_admin_custom_js %}


{% include "django_sb_admin/main/js.html" %}

</body>

</html>
