  {% include "main/navbar.html" %}

<!DOCTYPE html>
{% load static %}
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 350px;

      margin: auto;
      text-align: center;
      font-family: arial;
    }

    .title {
      color: grey;
      font-size: 18px;
    }

 .spec_offer {
    position: absolute; 
    top: 15px;
    left: 16px;
    width: 118px;
    height: 36px;
    background: #181818;
}
  .text-center {
    text-align: center!important;

}
.spec h1{ background: #13fdd4;
 font-color: #FFFFFF;}

.spec_offer a {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 36px;
    font-weight: 400;
}


    button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      cursor: pointer;
      width: 50%;
      font-size: 18px;
    }


    button.eee {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #01ff0b;
      cursor: pointer;
      width: 50%;
      font-size: 18px;
    }



    button:hover,
    a:hover {
      opacity: 0.7;
    }

    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 10px;
    }
.grid-item {
  padding-top:30px;
}

    a:link {
      text-decoration: none;
    }

    a {
      color: white;
    }
    h1{text-align: center;}
  </style>
</head>

<body>


<!-- <h1>Java Books</h1>
 --> <!--  <div class="grid-container">
    <div class="grid-item">
      <div class="card">
        <img src="{% static "images/admin.png" %}" alt="John" style="width:100%">
        <p class="title">ADMIN</p>
        <p><button><a href="/adminclick">View</a></button></p>
      </div>

    </div>

    <div class="grid-item">
      <div class="card">
        <img src="{% static "images/teacher.png" %}" alt="John" style="width:100%">
        <p class="title">TEACHER</p>
        <p><button><a href="/teacherclick">View</a></button></p>
      </div>
    </div>

    <div class="grid-item">
      <div class="card">
        <img src="{% static "images/student1.png" %}" alt="John" style="width:100%">
        <p class="title">STUDENT</p>
        <p><button><a href="/studentclick">View</a></button></p>
      </div>
    </div>

 -->





   <!--  <div class="grid-item">
      <div class="card">
        <img src="{% static "images/sangam.jpg" %}" alt="John" style="width:100%">
        <p class="title">Java Book</p>
        <p><button><a href="/studentclick">View</a></button><button class="eee"><a href="/studentclick">Available</a></button></p>

      </div>
    </div>
    <div class="grid-item">
      <div class="card">
        <img src="{% static "images/student1.png" %}" alt="John" style="width:100%">
        <p class="title">STUDENT</p>
        <p><button><a href="/studentclick">View</a></button></p>
      </div>
    </div>
    <div class="grid-item">
      <div class="card">
        <img src="{% static "images/student1.png" %}" alt="John" style="width:100%">
        <p class="title">STUDENT</p>
        <p><button><a href="/studentclick">View</a></button></p>
      </div>
    </div>
    <div class="grid-item">
      <div class="card">
        <img src="{% static "images/student1.png" %}" alt="John" style="width:100%">
        <p class="title">STUDENT</p>
        <p><button><a href="/studentclick">View</a></button></p>
      </div>
    </div> -->
<!-- Destinations -->

 <!--  <div class="destinations" id="destinations">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="section_subtitle">simply amazing places</div>
          <div class="section_title"><h2>Popular Destinations</h2></div>
        </div>
      </div>
      <div class="row destinations_row">
        <div class="col">
          <div class="destinations_container item_grid">
            {% for dest in destt %}
           
            <div class="destination item">
              <div class="destination_image">
                <img src="{{dest.imagev.url}}" alt="">
                {% if dest.offer %}
                <div class="spec_offer text-center"><a href="#">Special Offer</a></div>
                {% endif %}
              </div>
              <div class="destination_content">
                {% if user.is_authenticated %}
                <div class="destination_title"><a href="detail">{{dest.name}}</a></div>
                <div class="destination_subtitle"><p>{{dest.description}}</p></div>
                <div class="destination_price">From ${{dest.price}}</div>
                {% else %}
                <div class="destination_title"><a href="accounts/login">{{dest.name}}</a></div>
                <div class="destination_subtitle"><p>{{dest.description}}</p></div>
                <div class="destination_price">From ${{dest.price}}</div>
                {% endif %}
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </div> -->
<!-- -------------------------------------------- -->
 <!-- {% for dest in destt %}
    <div class="grid-item">
      <div class="destination_image">
       
        <img src="{{dest.imagev.url}}" alt="">
          {% if dest.offer %}
              <div class="spec_offer text-center">
                <a href="#">Special Offer</a>
              </div>
          {% endif %}
      </div>
      {% endfor %}
      <div class="card">
        <img src="{% static "images/student1.png" %}" alt="John" style="width:100%">
        <p class="title">{{dest.name}}</p>
        <p><button><a href="/studentclick">View</a></button></p>
      </div> -->
<!-- </div>
 -->
  {% for distt in allProds %}
<h1>Flash Sale On {{distt.0.category}} - Recommended Items</h1>

<div class="grid-container">
 {% for dest in distt %}
      
    <div class="grid-item">
      <div class="card"><a href="#"></a>
       
         {% if dest.offer %} 
             <div class="spec">
                <h4>offer</h4>
               <!--  <a href="#">Special Offer</a> -->
              </div> 
            
          {% endif %}
        <!-- <h1>offer</h1> --><a href="" data-toggle="modal" data-target="#signup">
        <img   src="{{dest.imagev.url}}" style="width:100%"> </a>
        <p class="title">{{dest.id}}{{dest.name}}</p>
        <h5 class="title">{{dest.id}}{{dest.name}}</h5>
       <!--  <p class="title">{{dest.id}}{{dest.name}}</p>
        <p class="title">{{dest.id}}{{dest.name}}</p>
        <p class="title">{{dest.id}}{{dest.name}}</p>
        <p class="title">{{dest.id}}{{dest.name}}</p>
        <p class="title">{{dest.id}}{{dest.name}}</p>
        <p class="title">{{dest.id}}{{dest.name}}</p>
        <p class="title">{{dest.id}}{{dest.name}}</p>
        <p class="title">{{dest.id}}{{dest.name}}</p> -->
        <p><button data-toggle="modal" data-id="{% url 'read_book' dest.pk %}">
 <<!-- a class="btn btn-success" href="#" data-toggle="modal" data-target="#Import" > <i class="fas fa-upload "></i> Import csv</a> -->
          <a href="{% url 'detail' dest.id %}" data-toggle="modal" data-target="#signup">View</a></button></p>
      </div>
    </div>
   {% endfor %}

  </div>
 {% endfor %}


 <!-------------------------------------- modal import-------------------------->
 <div class="modal fade" id="Import" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Upload File</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>             <div class="col-sm-12">

          <input type="text" class="form-control" placeholder="Email Id" name="emailid">
         <!--  <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div> -->
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="{% url "sb_admin_404" %}" >Upload</a>
          </div>
        </div>
      </div>
    </div>
<!-- -----------------------------model import End------------------------->



<div class="row">
                <div class="col-md-12">
                    {% if dest.has_other_pages %}
                        <ul class="pagination">
                            {% if dest.has_previous %}
                                <li class="page-item ">
                                    <a href="?page={{ dest.previous_page_number }}" class="page-link">&laquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">&laquo;</a>
                                </li>
                            {% endif %}
                            {% for i in dest.paginator.page_range %}
                                {% if dest.number == i %}
                                    <li class="page-item active">
                                        <a class="page-link">{{ i }}
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if dest.has_next %}
                                <li class="page-item ">
                                    <a href="?page={{ dest.next_page_number }}" class="page-link">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">&raquo;</a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
</div>

  <!-- {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% endif %}

          <li class="page-item active">
            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
              <span class="sr-only">(current)</span>
            </a>
          </li>

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav> -->
     


  <!--
written By : sumit kumar
facebook : fb.com/sumit.luv
-->


</body>

</html>
  {% include "main/footer.html" %}
